# Tesztjegyzőkönyv
|Sorszám|Tesztelő neve|Funkció|Tesztelés módja, leírása|Eredmény|
|-------|---------------------------|-------|------------------------|--------|
|1.|Nagy Ákos|adatbázis-kapcsolat|Az adatbázisszerverhez való kapcsolódás tesztelése, próba írási és olvasási műveletek végrehajtása MySQL Workbench segítségével.|Sikeres kapcsolódás a távoli szerverhez, sikeres műveletek.|
|2.|Ligárt Ádám|Foglalások, szállásfoglaló|Az adatbázisban lekérdezések segítségével ellenőriztem, valóban minden adatbázisban szereplő információ elérhető-e a főoldalon.|Sikeres: minden adat megjelenik a főoldalon.|
|3.|Ligárt Ádám|Foglalás törlése, számlagenerálás|Az adatbázisban lekérdezések segítségével ellrnőriztem, mennyire felelnek meg az adatbázisban tárolt adatok, és a rt|Sikeres.|
|4.|Karaba Márk|Frontend elemek kitöltése először minden szükséges adattal, utána hiányzó adatokkal, majd a visszajelzés és az adatbázisban létrejött rekord ellenőrzése|Sikeres: A felület figyelmezteti a felhasználót, ha nem adott meg minden adatot, illetve tájékoztatja, ha sikeres volt, és az adatbázisba bekerülnek a megfelelő rekordok|Sikeres|
|5.|Szabó Gergely|funkciók|funkciók újbóli ellenőrzése a meglévő frontend elemekkel együtt, hibakezelés tesztelése.|Sikeres|
|6.|Karaba Márk| Szállás foglaló| Tesztelés Swaggeren keresztül|Sikeres
|7.|Ligárt Ádám|adatbázis-kapcsolat|CRUD műveletek tesztelése| Sikeres
